
.thumbnail{
    width: 100%;
    
}
.thumbnail-preview{
    position:relative;
}
.time-count{
    position:absolute;
    bottom:10px;
    right:5px;
    background-color:rgb(45, 45, 45);
    color:white;
    padding-right:5px;
    padding-left:5px;
}

.chanel-image{
    margin-top: 10px;
    
}
.video-full-info{
    display:grid;
    grid-template-columns: 50px 1fr;
   
}
.video-info{
    margin-top:10px;
   
    font-size:14px;
    font-weight:700;
    line-height: 20px;
    width:250px;
    
}
.profilepic{
    border-radius: 50px;
    width:40px;
}
.video-title{
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}

.videos{
    column-gap: 20px;
    row-gap: 20px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 750px){
    .videos {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 751px) and (max_width:999){
    .videos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1000px){
    .videos {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}