
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Movie App</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <% if (user) { %>
                <li><a href="/add-movie">Add Movie</a></li>
                <li>Welcome, <%= user.username %></li>
                <li><a href="/auth/logout">Logout</a></li>
            <% } else { %>
                <li><a href="/auth/login">Login</a></li>
            <% } %>
        </ul>
    </nav>

    <div class="container">
        <% if (messages.error) { %>
            <div class="alert alert-danger"><%= messages.error %></div>
        <% } %>
        <% if (messages.success) { %>
            <div class="alert alert-success"><%= messages.success %></div>
        <% } %>

        <%- body %>
    </div>
</body>
</html>
            