#nav-bar {
  background-color: rgb(208, 208, 208);
  color: black;
}
#image {
  border-radius: 50%;
}
#link {
  color: grey;
  padding-left: 5px;
  padding-right: 5px;
}
#link:active {
  color: black;
}
#search-container {
  padding-left: 10px;
  padding-bottom: 10px;
}
#search-input {
  border-style: solid;
}
#user-container:hover {
  background-color: grey;
}
